{% extends 'base.html' %}

{% block content %}
<h2 style="text-align:center; margin-bottom: 1.5rem;">Evaluator Login</h2>

<form method="post" style="max-width: 400px; margin: auto;">
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
  {% csrf_token %}
  {% if form.non_field_errors %}
    <p style="color: red;">{{ form.non_field_errors }}</p>
  {% endif %}

  <div style="margin-bottom: 1rem;">
    <label for="id_username">Username</label><br>
    {{ form.username }}
  </div>

  <div style="margin-bottom: 1.5rem;">
    <label for="id_password">Password</label><br>
    {{ form.password }}
  </div>

  <button type="submit">Login</button>
</form>
{% endblock %}
